pgp_sqrt_project/.vs/PGP_sgrt_Project/v14/.suo
*.suo
pgp_sqrt_project/Debug/PGP_sgrt_Project.ilk
*.pdb
*.tlog
*.idb
pgp_sqrt_project/PGP_sgrt_Project/Debug/PGP_sgrt_Project.tlog/PGP_sgrt_Project.lastbuildstate
pgp_sqrt_project/PGP_sgrt_Project/Debug/main.obj
*.obj
*.exe
pgp_sqrt_project/Debug/PGP_sgrt_Project.ilk
*.pdb